{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "strict": [
      "error",
      "never"
    ],
    "indent": ["error", "tab"],
    "no-mixed-spaces-and-tabs": "error",
    "no-console": "warn",
    "no-unused-vars": "error",
    "no-trailing-spaces": [1, { "skipBlankLines": true }]
  }
}
